{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    'usa-alert',
    paragraph.field_type.value,
    paragraph.field_alert_options.value,
    'margin-bottom-4',
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>

    {% block content %}
      <div class="usa-alert__body">
        {% if uswds_grid_class %}
        <div class="{{ uswds_grid_class }}">
        {% endif %}

        {{ content }}

        {% if uswds_grid_class %}
        </div>
        {% endif %}
      </div>
    {% endblock %}

  </div>
{% endblock paragraph %}
